<div>
  <h1 class="font-bold text-4xl pb-4">Story: <%= story_title %></h1>
  <p><b>Description</b>: <%= story_description %></p>

  <h2 class="font-bold text-2xl py-4">Characters</h2>
  <div class="flex flex-wrap flex-row justify-center w-max-[580px]">
    <% if characters_results != [] %>
      <% characters_results.each do |character| %>
        <figure class="p-4">
          <%= image_tag(character_thumbnail(character), class: "max-w-48 max-h-48 overflow-hidden", alt: character_name(character)) %>
          <figcaption class="font-bold text-center max-w-48"><%= character_name(character) %></figcaption>
        </figure>
      <% end %>
    <% end %>
  </div>

  <div class="text-center py-4">
    <%= attribution_text(@story) %>
  </div>
</div>
